//app 核心样式
body {
    height: 100%;
    position: fixed;
    width: 100%;
    // background-color: rgb(109, 104, 104);
    /*让div内部文字居中*/
    background: url("https://res.wx.qq.com/a/wx_fed/webwx/res/static/img/2zrdI1g.jpg")no-repeat 100%;
    // background-size: cover;
    // cursor:pointer;
    background-size: 100% 100%;
    background-attachment: fixed;
}

#app {
    top:  0px;
    left: 0px;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 40px;
    .login-btn {
        color: red;
        .el-form-item__content {
            background-color: #0000;
            margin-left: 0px !important;
        }
    }
    .el-container .el-aside {
        margin-left: 0px !important;
    }
    height: 100%;
    position: fixed;
    width: 100%;
}

@media screen and (max-width: 1000px) {
    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 0px;
        .login-btn {
            color: red;

            .el-form-item__content {
                background-color: #0000;
                margin-left: 0px !important;
            }
        }
        .el-container .el-aside {
            margin-left: 0px !important;
        }
    }

}

//重写聊天组件样式
.vue3-emojipicker {
    background-color: #ecebeb;
    color: #000;
    border-top: 1px solid #dfdbdb;
    border-radius: 0px;
    .vue3-discord-emojipicker__input {
        background-color: #ecebeb;
        color: #000;
    }
    .bg-grey-400,
    .vue3-discord-emojipicker__tabs,
    .bg-grey-600,
    .bg-grey-700 {
        background-color: #ecebeb;
    }
}

//全局居中样式 核心样式
.item-center {
    display: flex;
    justify-content: center;
    align-items: center;
}