.vue3-emojipicker {
    background-color: #fff;
    color: #000;
    border-top: 1px solid #e8e6e6;
    border-radius: 0px;

    .vue3-discord-emojipicker__input {
        background-color: #fff;
        color: #000;
    }

    .bg-grey-400,
    .vue3-discord-emojipicker__tabs,
    .bg-grey-600,
    .bg-grey-700 {
        background-color: #fff;
    }
}